{% extends 'inc/template.html' %}
{% load bootstrap5 %}

{% block body %}
<body class="d-flex flex-column h-100 background-questions">
{% endblock body %}

{% block content %}
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} col-5">
        {{ message }}
    </div>
{% endfor %}
{% endif %}
<form novalidate action="{% url 'ask' %}" method="post">
    {% csrf_token %}
    <div class="col-12">
        {% bootstrap_form form %}
    </div>
    <div class="mb-2">
        <div class="col-12 mb-5">
            <button type="submit" class="btn btn-warning">ASK!</button>
        </div>
    </div>
</form>
{% endblock content %}
