{% extends 'inc/template.html' %}
{% load static %}
{% load bootstrap5 %}

{% block body %}
<body class="d-flex flex-column h-100 background-questions">
{% endblock body %}

{% block content %}

{% include 'inc/question_main.html' %}

<div class="row question-big mb-3"></div>

{% for answer in page_obj %}
    {% include 'inc/question_answer.html' with answer=answer %}
{% endfor %}

{% include 'inc/pagination.html' %}

<div class="row question-big mb-3"></div>

{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} col-5">
        {{ message }}
    </div>
{% endfor %}
{% endif %}
<form novalidate action="{% url 'question' question.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group row mt-2 mb-5">
        <button type="submit" class="btn btn-warning">SUBMIT!</button>
    </div>
</form>
{% endblock content %}
