{% extends 'inc/template.html' %}

{% block body %}
<body class="d-flex flex-column h-100 background-questions">
{% endblock body %}

{% block content %}
<div class="row mb-1">
    <div class="col-6">
        <h1>Tag = {{ tag_name }}</h1>
    </div>
    <div class="col-6">
        <h2 class="mt-1"><a class="btn btn-success" href="{% url 'index' %}">New questions</a></h2>
    </div>
</div>

{% for question in page_obj %}
    {% include 'inc/question_item.html' with question=question %}
{% endfor %}

{% include 'inc/pagination.html' %}

{% endblock content %}
