{% extends 'inc/question_template.html' %}

{% block user_name %}
    {{ question.user_name }}
{% endblock user_name %}

{% block count_of_likes %}
    {{ question.count_of_likes }}
{% endblock count_of_likes %}

{% block id %}
    {% url 'question' question.id %}
{% endblock id %}

{% block title %}
    {{ question.title }}
{% endblock title %}

{% block text %}
    {{ question.text }}
{% endblock text %}

{% block tag %}
    {{ tag }}
{% endblock tag %}

{% block answers %}
    {{ question.answers }}
{% endblock answers %}
