{% extends 'inc/question_template.html' %}

{% block avatar %}
    {{ question.user_profile.avatar.url }}
{% endblock avatar %}

{% block user_name %}
    {{ question.user_profile.profile.username }}
{% endblock user_name %}

{% block count_of_likes %}
    {{ question.likes.count }}
{% endblock count_of_likes %}

{% block id %}
    {% url 'question' question.id %}
{% endblock id %}

{% block title %}
    {{ question.name }}
{% endblock title %}

{% block text %}
    {{ question.text|truncatechars:400|default:"..." }}
{% endblock text %}

{% block tags %}
    <b>Tags: </b>
    {% for tag in question.tags.all %}
        <a class="text-decoration-none me-1" href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
    {% endfor %}
{% endblock tags %}

{% block answers %}
    {{ question.answer_set.count }}
{% endblock answers %}
