{% load static %}

<div class="question">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="question-avatar">
                    <img class="question-avatar-photo" src="{% block avatar %}{% endblock avatar %}" alt="user-avatar">
                </div>
                <div class="mt-2" style="text-align: center;">
                    <u>{% block user_name %}{% endblock user_name %}</u>
                </div>
                <div class="mt-2 like-counter">
                    <button type="button" class="love-btn-heart btn btn-sm btn-primary" data-id="{% block q_id %}{% endblock q_id %}">
                        Like: <span class="badge badge-light">{% block count_of_likes %}{% endblock count_of_likes %}</span>
                    </button>
                </div>
            </div>
            <div class="col-10">
                <div class="question-name">
                    <h3><a class="text-decoration-none" style="color: rgb(137, 72, 10);" href="{% block id %}{% endblock id %}">{% block title %}{% endblock title %}</a></h3>
                </div>
                <div class="question-data">
                    <p>{% block text %}{% endblock text %}</p>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="row">
                            <div class="col-5">
                                <b>Answers: </b>
                            </div>
                            <div class="col-7">
                                <p>{% block answers %}{% endblock answers %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        {% block tags %}{% endblock tags %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
